@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}

<h1>Erişim Engellendi</h1>
<p>Bu sayfaya erişim izniniz yok. Bunun bir hata olduğunu düşünüyorsanız lütfen yöneticiyle iletişime geçin.</p>

<a href="@Url.Action("Index", "Home")">Ana Sayfaya Dön</a>

