.login_page .login_box {
    top: 25%;
    box-shadow: 0 0 3px rgb(0 0 0 / 70%);
}

.dt-center {
    text-align: center !important;
}

.cursor-default {
    cursor: default;
}

.back-color-theme {
    background-color: #d37a82;
}

.btn-middle-icon {
    font-size: 14px;
    color: white;
}

.text-center {
    text-align: center;
}

.ptrn_e .main_content {
    background-image: url(../img/bg_c.png);
}

.opacity-30 {
    opacity: 30%;
}

.dt-search label {
    display: none;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 6px;
    vertical-align: middle;
}

table.dataTable > tbody > tr > th, table.dataTable > tbody > tr > td {
    padding: 5px 6px;
}

.login_page .top_b {
    height: 46px;
    padding: 0px 20px;
}

.btn-etiket {
    float: right;
    position: relative;
    bottom: 9px;
    background: #f9f9f9;
}

.float-right {
    float: right;
}

/*tabulator*/
.tabulator .tabulator-alert {
    background: transparent;
}

.tabulator .tabulator-header {
    font-weight: 600;
}

    .tabulator .tabulator-header .tabulator-col {
        background: #f6eced;
        border-right: 1px solid #ddd;
    }

        .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
            background-color: #f6eced;
            cursor: pointer;
        }

.tabulator .tabulator-header {
    background-color: #f6eced;
    border-bottom: 1px solid #ddd;
}

.tabulator .tabulator-header {
    background-color: #f6eced;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

    .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
        background-color: #f6eced;
        cursor: pointer;
    }

.tabulator-header-filter input {
    border: 1px solid #222222;
}

.tabulator .tabulator-tableholder {
    background: #efefef;
}

.tabulator .tabulator-header {
    color: #222;
    font-size: 13.4px;
    text-shadow: 1px 1px 0 #fff;
}

.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
    border: 2px solid #333;
    color: #333;
    font-weight: 600;
}
/*tabulator*/

.margin-top-5 {
    margin-top: 5px !important;
}

.txt-bold-red {
    font-weight: 600;
    color: #c51d2e;
}

.txt-bold {
    font-weight: 600;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-left-2 {
    padding-left: 2px;
}

.padding-right-0 {
    padding-right: 0;
}

.text-align-unset {
    text-align: left !important;
}

.title-align-right {
    text-align: right !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.lbl-campaign {
    text-align: left !important;
    padding-left: 0px;
    padding-right: 0px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-12 {
    font-size: 12px;
}

.btn-grid {
    padding: 3px 12px;
}

#pdf-iframe {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-iframe {
    width: 75%;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 10px;
}

.float-left {
    float: left;
}

#div-selection {
    text-align: center;
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    color: #d37a82;
    padding-left: 0;
}

#freezeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 9999;
    display: none;
}

div.dt-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -22px;
    text-align: center;
    padding: 2px;
    z-index: 9999999;
}

div.dt-container .dt-processing {
    color: #3993ba;
}

/*main content set full*/
.main_content {
    padding: 55px 30px 30px;
    background: #fff;
    border-left: 1px solid transparent;
    margin-left: 240px;
}

#maincontainer {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.full_width .container {
    max-width: 100%;
}

@media (min-width: 1681px) {
    body {
        max-width: 100%;
        margin: 0 auto !important;
    }

    .sidebar {
        left: 50%;
        margin-left: -959px;
    }


    .sidebar_switch {
        left: 50%;
        margin-left: -739px;
    }

    .sidebar_hidden .sidebar_switch {
        margin-left: -950px;
        left: 50%;
    }
}
/*main content set full*/

.forget-password a {
    color: #d55c66;
    text-decoration: none;
}

    .forget-password a : hover {
        color: #d55c66;
        text-decoration: none;
    }

/*navbar*/
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.navbar .divider-vertical {
    margin: 0 5px;
}

.dropdown-menu li a {
    border-radius: 1px;
}

.dropdown-menu li a {
    padding: 3px 8px 3px 8px;
    position: relative;
    font-size: 12px;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 2px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*navbar*/

/*home*/

/*home*/

.btn {
    font-size: 12px;
}

h3 {
    font-size: 17px;
}

.no-wrap {
    white-space: nowrap;
}

.center {
    text-align: center !important;
}

/*layout*/
.navbar-inner {
    background: -webkit-linear-gradient(top, #c51d2e 0%, #af2c36 100%);
}

.navbar .brand {
    font: 100 19px / 38px 'PT Sans', sans-serif;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover,
span.dynatree-active a {
    background: #bb2432 !important;
}

a {
    color: #b92532;
}

    a:hover, a:focus {
        color: #b92532;
    }

.panel-heading a i {
    color: #2F4F4F;
}

.sidebar {
    background: #fcfcfc !important;
}

    .sidebar .panel .panel-heading a {
        color: white;
        background: #bd2331;
    }

.panel-heading a i {
    color: white;
}

.sidebar .panel-heading {
    text-shadow: none;
}
/*layout*/

/*login*/
.login_page .top_b {
    background: #bd2331;
    color: white;
    font-size: 18px;
}

.login_page .login_box {
    border: 0px;
}
/*login*/

.btn-excel {
    float: right;
    position: relative;
    bottom: 5px;
    padding: 5px 0px;
    cursor: pointer !important;
}

.heading {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 13px;
    padding-bottom: 5px;
}

.left {
    text-align: left !important;
}

.border-filter {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-left: 0;
    padding-right: 0;
    padding-top: 14px;
    display: inline-block; /* Ensures the width matches the content */
    width: 100%; /* Ensures it stretches to the full width of its container */
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.span-info {
    position: relative;
    top: 2px;
}

.icon-text-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 31px;
    color: black;
    background-color: #f9f9f9;
    border-color: #22222261;
}

    .icon-text-button:hover, .icon-text-button:focus, .icon-text-button:active, .icon-text-button.active, .open .dropdown-toggle.icon-text-button {
        color: black;
        background-color: #f6eeef;
        border-color: #22222261;
    }

.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    cursor: no-drop;
    background-color: #f9f9f9;
    opacity: 0.8;
}

.text-debit-red {
    font-weight: bold !important;
    color: #d37a82 !important;
    font-size: 14px !important;
}

.text-debit-green {
    font-weight: bold !important;
    color: #86b796 !important;
    font-size: 13px !important;
    /*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);*/
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    color: #222222;
    font-size: 2.5em;
    margin-top: 8px;
}

#txt_total_m3 {
    position: relative;
    top: 2px;
    left: 2px;
}

#txt_m3_value {
    position: relative;
    top: 4px;
    font-size: 19px;
    color: #bd2331;
}
