.login_page .login_box {
    top: 25%;
    box-shadow: 0 0 3px rgb(0 0 0 / 70%);
}

.dt-center {
    text-align: center !important;
}

.cursor-default {
    cursor: default;
}

.back-color-theme {
    background-color: #248ab5;
}

.btn-middle-icon {
    font-size: 14px;
    color: white;
}

.text-center {
    text-align: center;
}

.ptrn_e .main_content {
    background-image: url(../img/bg_c.png);
}

.opacity-30 {
    opacity: 30%;
}

.dt-search label {
    display: none;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 6px;
    vertical-align: middle;
}

table.dataTable > tbody > tr > th, table.dataTable > tbody > tr > td {
    padding: 5px 6px;
}

.login_page .top_b {
    height: 46px;
    padding: 0px 20px;
}

.btn-etiket {
    float: right;
    position: relative;
    bottom: 9px;
    background: #f9f9f9;
}

.float-right {
    float: right;
}

/*tabulator*/
.tabulator .tabulator-alert {
    background: transparent;
}

.tabulator .tabulator-header {
    font-weight: 600;
}

    .tabulator .tabulator-header .tabulator-col {
        background: #ebf2f6;
        border-right: 1px solid #ddd;
    }

.tabulator .tabulator-header {
    background-color: #ebf2f6;
    border-bottom: 1px solid #ddd;
}

    .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
        background-color: #ebf2f6;
        cursor: pointer;
    }

    .tabulator .tabulator-header .tabulator-col {
        background: #ebf2f6;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }

.tabulator .tabulator-header {
    background-color: #ebf2f6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

    .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
        background-color: #ebf2f6;
        cursor: pointer;
    }

.tabulator-header-filter input {
    border: 1px solid #222222;
}

.tabulator .tabulator-tableholder {
    background: #efefef;
}

.tabulator .tabulator-header {
    color: #222;
    font-size: 13.4px;
    text-shadow: 1px 1px 0 #fff;
}

.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
    border: 2px solid #333;
    color: #333;
    font-weight: 600;
}
/*tabulator*/

.margin-top-5 {
    margin-top: 5px !important;
}

.txt-bold-red {
    font-weight: 600;
    color: #c51d2e;
}

.txt-bold {
    font-weight: 600;
}

.padding-left-0 {
    padding-left: 0px;
}

.text-align-unset {
    text-align: left !important;
}

.title-align-right {
    text-align: right !important;
}

.margin-left-0 {
    margin-left: 0px !important;
}

.lbl-campaign {
    text-align: left !important;
    padding-left: 0px;
    padding-right: 0px;
}

.font-size-13 {
    font-size: 13px;
}

.btn-grid {
    padding: 3px 12px;
}

#pdf-iframe {
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-iframe {
    width: 75%;
    border: 1px solid gainsboro;
    text-align: center;
    padding: 10px;
}

.float-left {
    float: left;
}

#div-selection {
    text-align: center;
    position: absolute;
    top: 7px;
    font-weight: 700;
    font-size: 16px;
    color: #3993ba;
}

#freezeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: 9999;
    display: none;
}

div.dt-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -22px;
    text-align: center;
    padding: 2px;
    z-index: 9999999;
}

div.dt-container .dt-processing {
    color: #3993ba;
}

/*main content set full*/
.main_content {
    padding: 55px 30px 30px;
    background: #fff;
    border-left: 1px solid transparent;
    margin-left: 240px;
}

#maincontainer {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.full_width .container {
    max-width: 100%;
}

@media (min-width: 1681px) {
    body {
        max-width: 100%;
        margin: 0 auto !important;
    }

    .sidebar {
        left: 50%;
        margin-left: -959px;
    }


    .sidebar_switch {
        left: 50%;
        margin-left: -739px;
    }

    .sidebar_hidden .sidebar_switch {
        margin-left: -950px;
        left: 50%;
    }
}
/*main content set full*/

.forget-password a {
    color: #d55c66;
    text-decoration: none;
}

    .forget-password a : hover {
        color: #d55c66;
        text-decoration: none;
    }

/*navbar*/
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: white !important;
    border-bottom-color: white !important;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}

.navbar .divider-vertical {
    margin: 0 5px;
}

.dropdown-menu li a {
    border-radius: 1px;
}

.dropdown-menu li a {
    padding: 3px 8px 3px 8px;
    position: relative;
    font-size: 12px;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 2px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
/*navbar*/

.btn {
    font-size: 12px;
}
