@{
    ViewBag.Title = "Montaj Kılavuz Arama";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="jCrumbs" class="breadCrumb module">
    <ul>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-home"></i>
            </a>
        </li>
        <li style="background: none;">
            <span style="width: 50px;"><a href="#" style="width: 83px;">İşlemler</a></span>
            <div class="chevronOverlay" style="display: block;"></div>
        </li>
        <li>
            Montaj Kılavuz Arama
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="heading">Arama</h3>
        <table class="table table-striped table-bordered dTableR" id="tblSearchDoc">
            <thead>
                <tr>
                    <th>Ürün</th>
                    <th>Ürün Tanımı</th>
                    <th>Ürün Uzun Tanımı</th>
                    <th>Kullanım</th>
                    <th>Garanti/Montaj Kılavuzu</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#tblSearchDoc').DataTable({
                language: {
                  url: "@Url.Content("~/Content/tr.json")",
                },
                ajax:
                {
                    url: '@Url.Action("GetData")',
                    type: "POST",
                    dataType: 'json',
                    dataSrc: function (json) {
                        return json.data;
                    }
                },
                columns: [
                    { data: 'MATNR' },
                    { data: 'MAKTX' },
                    { data: 'ZCL_MAKTX' },
                    { data: 'CMPT_LVORM' },
                    {
                        "mData": null,
                        "bSortable": false,
                        "mRender": function (data, type) {
                            return '<a href="/SalesOrder/GetMontagePdf?matnr=' + data.MATNR +'" class="btn back-color-theme btn-grid">' +
                                      '<i class="fa fa-download btn-middle-icon"></i>' +
                                   '</a > ';
                        }
                    }
                ],
                columnDefs: [
                    { className: 'dt-center', targets: [0,3,4] },
                ]
            });
        });
    </script>
}

