@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="login_page">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alfemo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="~/Content/blue.css" rel="stylesheet" />
    <link href="~/Content/gtip2/jquery.qtip.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/alfemo-icon.jpeg">
    <style>
        body::after {
            content: "";
            background: url(/img/alfemo/oasis_small.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

        .input-sm {
            height: 33px;
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }

        .form-group {
            margin-bottom: 8px;
        }

        .login_page .top_b {
            height: 47px;
            padding: 1px 20px;
        }

        .login_page .top_b {
            background: #bd2331;
            color: white;
            font-size: 19px;
        }

        .login_page .login_box {
            top: 24%;
            box-shadow: 0 0 6px rgb(0 0 0 / 70%);
        }

        .login_page .cnt_b {
            padding: 30px 0;
            width: 70%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="login_box">
        <div class="top_b">
            <span>ALFEMO</span>
        </div>

        @Html.Raw(ViewBag.Message)

        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
        {
            <div class="cnt_b">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input class="form-control input-sm"
                               type="text"
                               id="RegistrationNo"
                               name="RegistrationNo"
                               placeholder="Kullanıcı Adı" />
                    </div>
                </div>

                <div class="form-group" style="margin-bottom:8px">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control input-sm"
                               type="password"
                               id="Password" name="Password"
                               placeholder="Şifre"
                               autocomplete="off" />
                    </div>
                </div>

                <div class="form-group" style="margin-top:25px">
                    <div class="input-group">
                        <span class="input-group-addon input-sm"
                              style="cursor:pointer"
                              id="RefreshCaptcha">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </span>
                        <img id="ImgCaptcha" src="@Url.Action("GenerateCaptcha", "Auth")"
                             alt="CAPTCHA"
                             class="form-control"
                             style="width:50%;height:40px;" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon input-sm">
                            <i class="glyphicon glyphicon-qrcode"></i>
                        </span>
                        <input class="form-control input-sm"
                               type="text"
                               id="Captcha" name="Captcha"
                               autocomplete="off"
                               placeholder="Doğrulama Kodu" />
                    </div>
                </div>

                <div class="form-group" style="display:none">
                    <span class="linkform forget-password">
                        <a href="#pass_form">Şifremi unutttum</a>
                    </span>
                </div>
            </div>

            <div class="btm_b clearfix">
                <span style="color: #d55c66; font-size: 12px; position: relative; top: 5px;">
                    Alfemo BT 2024
                </span>

                <button class="btn btn-default btn-sm pull-right" type="submit">
                    Giriş
                </button>
            </div>
        }
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.actual.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-input-mask-phone-number.js"></script>
    <script>
        $(document).ready(function () {
            $('#TELF1').usPhoneFormat({
                format: '(xxx) xxx-xxxx',
            });

            $('#RefreshCaptcha').on('click', function () {
                document.getElementById("ImgCaptcha").src = '@Url.Action("GenerateCaptcha", "Auth")' + '?t=' + new Date().getTime();
            });
        });

        function validate(evt) {
            var theEvent = evt || window.event;
            if (theEvent.type === 'paste') {
                key = event.clipboardData.getData('text/plain');
            } else {
                var key = theEvent.keyCode || theEvent.which;
                key = String.fromCharCode(key);
            }
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }
    </script>
</body>
</html>
